* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;

  max-width: 1366px;
  min-width: 40px;

  font-family: brother-1816, sans-serif;
  font-weight: 400;
  background-color: #F1F4FA;
}

body h3, h1 {
  color: #08162B;
}

body p {
  color: #3E5570;
  line-height: 28px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;

  padding-top: 15px;
  padding-bottom: 20px;

  border-bottom: 2px #F1F4FA;
}

hr {
  border: #E4E8F0 solid 0.1px;
}

header img {
  text-align: center;
  justify-content: flex-start;
  position: relative;

  width: 142px;
  height: 42px;
  margin-left: 4.2rem;
}

header button {
  width: 201px; 
  height: 33px;
  justify-content: flex-end;
  position: relative;

  margin-left: 2.6rem;
  margin-right: 4.2rem;

  border-radius: 20px;
  border: 0rem;

  cursor:pointer;
  transition: 0.3s;

  background-color: #6BBA21;
  color: #FFFFFF;
  text-align: center;
}

header button:hover {
  background-color: #92D328;
}

main {
  text-align: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

#topo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#topo h1 {
  width: 538px;
  padding-top: 42px;

  color: #08162B
}

#topo p {
  width: 1028px;

  min-width: 300px;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;

  padding-top: 16px;
  padding-bottom: 48px;
}

#conteudo {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;

  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 24px;
}

.card {
  width: 412px;
  height: 385px;
  margin-right: 24px;
  margin-bottom: 56px;
  
  box-shadow: 0px 3px 6px #00000029;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 12px 24px #00000029;
  cursor: pointer;
}

.card img{
  width: 174px;
  height: 174px;
  margin-left: 95px;
  margin-right: 95px;
}

.card h3, p, button {
  margin-left: auto;
  margin-right: auto;
}

.card h3 {
  width: auto;
  height: 34px;
  font-size: 26px;

  margin-top: 8px;
  margin-bottom: 8px;
}

.card p {
  width: 364px;
  height: 49px;
  margin-bottom: 32px;
}

.card button {
  width: 240px; 
  height: 40px;

  border-radius: 20px;
  border: 0rem;

  cursor:pointer;
  transition: 0.3s;
  color: #FFFFFF;
  background-color: #6BBA05;
}

.card button:hover {
  background-color: #92D328;
}

footer {
  height: 43px;
  display: flex;
  align-items: center;

  background-color: #08162B;
}

footer img {
  width: 42px;
  height: 41px;
  margin-left: 41px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

footer p {
  justify-content: flex-start;
  position: relative;

  margin-left: 24px;
  margin-right: 24px;

  color: #FFFFFF;
  font-size: 11px;
  line-height: normal;

}



