html, body{
  background-color: #FFFFFF;
}

#wspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  min-width: 320px;
   
  margin-left: 54px;
  margin-right: 41px;
  margin-bottom: 192px;
  margin-top: 120px;

  font-family: Brother 1816, Bold;
}

#wspace .content {
  width: 530px;
  height: 384px;
  
  margin-left: 32px;
  margin-right: 32px;

  text-align: left;
}

#wspace form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  text-align: left;
}

#wspace form h1{
  margin-bottom: 8px;
}

#wspace form p{
  margin-bottom: 56px;
  line-height: 28px;
  color: #3E5570;
}

#wspace form h5{
  margin-bottom: 4px;
}

#wspace form small{
  margin-bottom: 16px;
  color: #3E5570;
}

#wspace form select {
  width: 380px;
  height: 40px;
  
  margin-right: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 20px;
  border: 1px solid #6C8198;
  cursor: pointer;

  box-shadow: 0px 4px 10px #00000029;
}

#wspace form select:focus {
  border: 2px solid #92D328;
}

#wspace form button, form a {
  width: 140px;
  height: 40px;
  margin: 32px 16px auto auto;

  border-radius: 20px;
  cursor:pointer;
}

#wspace form a {
  background-color: #FFFFFF;
  color: #3E5570;

  width: 136px;
  height: 36px;
  
  border: 2px solid #3E5570;
  margin-left: 0px;
  
  display: flex;
  align-items: center;
  justify-content: center;

}

#wspace form a:hover {
  background-color: #3E5570;
  color: #FFFFFF;
  border: none;
}

#wspace form button.começar {
  background-color: #6BBA21;
  margin-left: 0px;
  color: #FFFFFF;
  border: none;
  transition: 0.3s;
}

#wspace form button.começar:hover {
  background-color: #92D328;
}


#wspace img{
  width: 412px;
  min-width: 300px;
  height: 412px;
  margin-right: 109px;
}